body {
    font-family: 'Arial', sans-serif;
    background-color: #100647;
    color: #e0e0e0;
}

.navbar {
    background-color: #100647;
}

.navbar .nav-link {
    color: #010c9c;
}

.navbar .nav-link:hover {
    color: #0555b1;
}

.logo {
    width: 40px;
}

.hero {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0742af80;
}

.hero-text {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.hero .btn-primary {
    background-color: #6c63ff;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    border-radius: 50px;
}

.form-container {
    background-color: #360394;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

footer {
    background-color: #360394;
}